* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(250, 167, 56);
  width: 100%;
  height: 100vh;
}

div.cat {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.cat > img {
  width: 600px;
  height: 557px;
}